

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#2563eb;
}

.container {
  background-color: white;
  padding: 2rem;
  height: 380px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  font-size: 1rem;
  color: #374151;
  margin-bottom: 0.25rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

button {
  background-color: #2563eb;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #1e40af;
}

.solution-box {
  position: absolute;
  left: 70%;
  top: 28%;
  width: 300px;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  background: #f9f9f9;
}


.solution-box h3 {
  color: #121212;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #dbeafe;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 5px;
  font-size: 1rem;
  color: #1e3a8a;
}
